*{
    margin: 0;
}
.nav_bar{
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 60px;
    align-items: center;
    padding: 12px;
    font-family: 'Courier New';
    font-weight: 400;
    
}
.nav_option{
    display: flex;
    width: 400px;
    height: 30px;
    list-style-type: none;
    text-decoration: none;
    justify-content: space-between;
   font-size: 15px;
}
   
.menu_option{
       font-size: 25px;
       font-weight: 800;
       
}
.menu_option:hover{
    color: red;
}
.nav_option li:hover{
    color: rgb(227, 195, 10);
    
}